<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-primary sp">
    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F2%2F20%2FEHTYOLO.png%2F120px-EHTYOLO.png&f=1" alt="coin picture">

    <a [routerLink]="['/home']" class="btn btn-dark">Home</a>
    <button [routerLink]="['/mine']" class="btn btn-dark">Mine Coins</button>
    <button [routerLink]="['/buy']" class="btn btn-dark">Buy Coins</button>
    <button [routerLink]="['/sell']" class="btn btn-dark">Sell Coins</button>
    <button [routerLink]="['/browse']" class="btn btn-dark">Browse Ledger</button>

    </nav>

  

<router-outlet></router-outlet>
